body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 10px 30px;
}

.header-logo {
    font-size: 24px;
    font-weight:800;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 20px;
}

.hero {
    display: flex;
    padding: 10px 30px;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding-top: 70px;
    padding-bottom: 70px;
}

.hero h1 {
    font-weight: extra-bold;
    font-size: 48px;
    color: #F9FAF8
}

.hero p {
    font-size: 18px;
    color: #E5E7EB
}

.hero button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero img {
    height: 200px;
    width: 400px;
    background-color: lightgray;
    line-height: 100px;
    text-align: center;
}